<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">企业信息</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="/">首页</a>
                            </li>
                            <li>
                                <a href="/aboutus">关于我们</a>
                            </li>
                            <li>
                                <a>加盟电话：</a>
                            </li>
                            <li>
                                 <a>400-900-4699</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title"> 服务与支持</h5>
                     <nav>
                        <ul>
                            <li>
                                <a href="/shop">查找门店</a>
                            </li>
                            <li>
                                <a href="/contactus">伙伴招募</a>
                            </li>
                            <li>
                                <a>淘宝店铺</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">最新信息</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    <b>新店开业</b> 悦咖啡（中粮智慧农场店）北京市房山区中粮智慧农场4号馆                                      
                                    <hr class="hr-small">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">微信公众号</h5>
                    <nav>
                        <ul>
                            <li><img alt="..." class="footerphoto" src="./img/wechat.jpg"/></li>                    
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
             © <script> document.write(new Date().getFullYear()) </script> Creative Enjoy your coffee
        </div>
    </div>
</footer>