<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="/" class="navbar-brand">
                ENJOY YOUR COFFEE
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li>
                    <a href="/" >首页</a>
                </li>
                <li>
                    <a href="/aboutus" >关于我们</a>
                </li>
                <li>
                    <a href="/shop" >门店</a>
                </li>
                <li>
                    <a href="/product" >产品</a>
                </li>
                <li>
                    <a href="/contactus" >加入我们</a>
                </li>
                <li>
                    <a >加盟热线：400-900-4699</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>