    <div class="section section-header section-header-small">
            <div class="parallax filter filter-color-black">
                <div class="image"
                    style="background-image:url('./img/header-1.jpeg')">
                </div>
                <div class="container">
                    <div class="content">
                        <h1>ABOUT US</h1>
                        <h3 class="subtitle">取悦自己 享受当下</h3>
                    </div>
                </div>
            </div>
        </div>

    <div class="section">
        <div class="text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="title-area">
                            <h5 class="subtitle text-gray">Est. 2013</h5>
                            <h2>悦咖啡</h2>
                            <div class="separator separator-danger">✻</div>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <div class="description">
                            <p>悦咖啡隶属北京睿加罗餐饮管理有限公司，品牌创立于2013年，截至目前已有自营店4家，旗舰店一家，合作店若干家。</p>
                            <p>悦咖啡自经营以来受到业内的广泛关注与好评，成为为数不多的良好经营、自成体系的国内连锁咖啡品牌之一。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="card card-plain">
                                    <img alt="..." src="./img/office-1.jpeg" />
                                </div>
                                <div class="card card-plain">
                                    <img alt="..." src="./img/office-3.jpeg" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card card-plain">
                                    <img alt="..." src="./img/project-5.jpg" />
                                </div>
                                <div class="card card-plain">
                                    <img alt="..." src="./img/office-4.jpeg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h3>品牌理念</h3>
                    <h2>ENJOY YOUR COFFEE</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">“高兴也好，失意也罢，不羡慕他人的光鲜与成就，更无需他人对自己的理睬与理解”，这是一杯有态度的咖啡，这就是“悦咖啡”，TA的理念就是“取悦自己，享受当下”。</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-coffee"></i>
                        </div>
                        <h3>咖啡</h3>
                        <p class="description">悦咖啡已经实现了咖啡豆采摘、处理、烘焙、冲煮的闭环工程，各门店所使用的咖啡都要求新鲜烘焙、总部直供，并在1个月内使用完毕，保证食材始终处于最优赏味期。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <h3>环境</h3>
                        <p class="description">在不脱离品牌基调的基础上，悦咖啡所有门店都会结合地方特色及当下最新时尚热点，进行大胆创新演绎。可以说每家门店在开业亮相时都能成为当下潮人争相追捧的ICON之地。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-music"></i>
                        </div>
                        <h3>服务</h3>
                        <p class="description">悦咖啡强调“情感的归属感”，消费者来到悦咖啡，不仅仅是为了一杯饮品那么简单，追求的是视觉、味觉、嗅觉的综合感受，是对食品、空间的复合式消费。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>