            <div class="section section-header-blog">
                    <div class="parallax filter filter-color-black">
                        <div class="image"
                            style="background-image:url('./img/header-2.jpeg')">
                        </div>
                        <div class="container">
                            <div class="content">
                                 <div class="title-area">
                                            <h2>直营合作</h2>
                                            <div class="separator separator-danger">✻</div>
                                            <p class="description">认同悦咖啡品牌文化及经营理念、热爱咖啡行业,愿意投身咖啡行业、在以往经营中有着丰富的管理经验、具备一定的投资实力及适宜的经营场地、
                                                    有品牌至上信誉第一的经营意识、
                                                    统一使用悦咖啡视觉形象设计和店面装修设计。</p>
                                  </div>
                            </div>          
                        </div>
                    </div>           
                </div>

