    <div class="section section-header">
        <div class="parallax filter filter-color-white">
            <div class="image"
                style="background-image: url('./img/header-1.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>est.2013</p>
                        <h1 class="title-modern">ENJOY YOUR COFFEE</h1>
                        <p>取悦自己 享受当下</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="section">
            <a href="/shop">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>特色门店推荐</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description"><%= content %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h3>位置</h3>
                        <p class="description">开在历史悠久的前门大街，与之相临的是众多享誉世界的老字号，全聚德、都一处、月盛斋、一条龙、吴裕泰、张一元、大北照相馆。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-coffee"></i>
                        </div>
                        <h3>咖啡</h3>
                        <p class="description">在这里不仅能够体验到现场烘焙、研磨的新鲜咖啡，更为食客们邀请了由米其林二星餐厅顶级厨师Robbie领衔的厨师团队制作独具颜值且美味的简餐及甜品。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <h3>价格</h3>
                        <p class="description"> 更值得一提的是价格十分亲民，只花费100元就可以享受米其林厨师为自己私人订制的大餐服务，让你充分地“取悦自己，享受当下”。</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>


    <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url('/img/header-2.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="title-area">
                            <h2>特色餐品推荐</h2>
                            <div class="separator separator-danger">✻</div>
                            <p class="description"> 悦咖啡可以说是整个北京咖啡品类最多的店，有将近有130多种饮品。如果你每天来喝一杯不同的饮品，需要连续4个月才能喝完。在这里你还可以选择“专属自己的口味儿”，这也是区别于以往连锁咖啡的最大特点。</p>
                        </div>
                    </div>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                    <a href="/product">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="./img/faces/face_1.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">咖啡</h3>
                                                    <p class="small-text">Coffee chocolate..</p>
                                                    了解更多</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                    <a href="/product">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="./img/faces/face_4.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">轻餐</h3>
                                                    <p class="small-text">Pasta salad..</p>
                                                    了解更多</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                    <a href="https://shop389530482.taobao.com/">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="./img/faces/face_3.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">产品</h3>
                                                    <p class="small-text">Product..</p>
                                                    了解更多</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-our-clients-freebie">
        <div class="container">
            <div class="title-area">
                <h5 class="subtitle text-gray">Barista</h5>
                <h2>悦咖啡 明星咖啡师</h2>
                <div class="separator separator-danger">∎</div>
            </div>

            <ul class="nav nav-text" role="tablist">
                <li class="active">
                    <a href="#testimonial1" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <img alt="..." class="img-circle" src="./img/faces/face_5.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#testimonial2" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <img alt="..." class="img-circle" src="./img/faces/face_6.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#testimonial3" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <img alt="..." class="img-circle" src="./img/faces/face_2.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="testimonial1">
                    <p class="description">悦咖啡(天安门店)明星咖啡师</p>
                </div>
                <div class="tab-pane" id="testimonial2">
                    <p class="description">悦咖啡(长楹天街店)明星咖啡师
                    </p>
                </div>
                <div class="tab-pane" id="testimonial3">
                    <p class="description">悦咖啡(金沙天街店)明星咖啡师
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="section section-small section-get-started">
        <div class="parallax filter">
            <div class="image"
                style="background-image: url('./img/header-3.jpg')">
            </div>
            <div class="container">
                <div class="title-area">
                    <h2 class="text-white">成为悦咖啡成员</h2>
                    <div class="separator line-separator">♦</div>
                    <p class="description"><%= joinus %></p>
                </div>
            </div>
        </div>
    </div>