 <div class="section section-header section-header-small">
        <div class="parallax filter filter-color-black">
            <div class="image"
                style="background-image:url('./img/header-12.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <h1>Portfolio</h1>
                    <h3 class="subtitle">Project that we've been working on.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
            <a href="/">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>特色门店推荐</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">悦咖啡在北京的第5家店、悦咖啡（天安门店）以“市集”的概念在800平米的营业区域中搭建了花园、书房、浴室、健身房等不同场景表达“Anytime Anywhere Enjoy Your Coffee”的理念。</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h3>位置</h3>
                        <p class="description">开在历史悠久的前门大街，与之相临的是众多享誉世界的老字号，全聚德、都一处、月盛斋、一条龙、吴裕泰、张一元、大北照相馆。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-coffee"></i>
                        </div>
                        <h3>咖啡</h3>
                        <p class="description">在这里不仅能够体验到现场烘焙、研磨的新鲜咖啡，更为食客们邀请了由米其林二星餐厅顶级厨师Robbie领衔的厨师团队制作独具颜值且美味的简餐及甜品。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-music"></i>
                        </div>
                        <h3>价格</h3>
                        <p class="description"> 更值得一提的是价格十分亲民，只花费100元就可以享受米其林厨师为自己私人订制的大餐服务，让你充分地“取悦自己，享受当下”。</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
