            <div class="section section-header section-header-small">
                    <div class="parallax filter filter-color-black">
                        <div class="image"
                            style="background-image:url('./img/header-5.jpg')">
                        </div>
                        <div class="container">
                            <div class="content">
                                <h1>EAT DRINKS AND MORE</h1>
                                <h3 class="subtitle">新鲜选材、创新研发、制法独特</h3>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="section">
        <div class="container">
            <div class="row">
                    <div class="col-md-4 text-center">
                            <div class="author">
                                <div class="avatar avatar-danger">
                                    <img alt="..." src="./img/faces/face_1.jpg"/>
                                </div>
        
                                <div class="description text-center">
                                    <h3 class="big-text">悦咖啡</h3>
                                    <p class="small-text">取悦自己 享受当下</p>
                                </div>
                            </div>
                            <span class="label label-fill label-danger">Coffee</span>
                            <span class="label label-fill label-danger">Health</span>
                            <span class="label label-fill label-danger">Lifestyle</span>
                            <span class="label label-fill label-danger">Brunch</span>
                        </div>
                <div class="col-md-4 ">
                        <div class="media">
                                <h3>饮品</h3>
                                <div class="media-body">
                                    <p>爱尔兰榛果拿铁</p>
                                    <p>红丝绒拿铁</p>
                                    <p>提拉米苏拿铁</p>
                                    <p>野兽咖啡</p>
                                    <p>太妃玛奇朵</p>
                                    <p>澳洲平白</p>
                                    <p>经典拿铁</p>
                                    <p>蜜桃乌龙茶</p>
                                    <p>蜜桃乌龙茶</p>
                                    <p>蜜桃乌龙茶</p>
                                    <p>蒂凡尼蓝色巧克力</p>
                                    <p>手冲与虹吸咖啡</p>  
                                    <p>...</p>                                      
                                </div>
                            </div>         
                </div>
                <div class="col-md-4">
                        <div class="media">
                                <h3>餐品<small>（只在天安门店有售）</small></h3>
                                <div class="media-body">
                                    <p>小扁豆汤</p>
                                    <p>挪威三文鱼沙拉</p>
                                    <p>烤虾脆饼披萨</p>
                                    <p>星空吐司</p>
                                    <p>帕尔马花园</p>
                                    <p>维京肉丸意面</p>
                                    <p>墨鱼汁海鲜意面</p>
                                    <p>澳洲安格斯牛里脊宽面</p>
                                    <p>...</p>                                      
                                </div>
                         </div>         
                </div> 
            </div>
        </div>
    </div>