<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./img/favicon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>产品 Enjoy Your Coffee</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="./css/bootstrap.css" rel="stylesheet" />
    <link href="./css/gaia.css" rel="stylesheet"/>
    <link href="./css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>

<body>
        <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
                <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
                <div class="container">
                    <div class="navbar-header">
                        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a href="/" class="navbar-brand">
                            ENJOY YOUR COFFEE
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right navbar-uppercase">
                            <li>
                                <a href="/" >首页</a>
                            </li>
                            <li>
                                <a href="/aboutus" >关于我们</a>
                            </li>
                            <li>
                                <a href="/shop" >门店</a>
                            </li>
                            <li>
                                <a href="/product" >产品</a>
                            </li>
                            <li>
                                <a href="/contactus" >加入我们</a>
                            </li>
                            <li>
                                <a >加盟热线：400-900-4699</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
            <div class="section section-header section-header-small">
                    <div class="parallax filter filter-color-black">
                        <div class="image"
                            style="background-image:url('./img/header-5.jpg')">
                        </div>
                        <div class="container">
                            <div class="content">
                                <h1>EAT DRINKS AND MORE</h1>
                                <h3 class="subtitle">新鲜选材、创新研发、制法独特</h3>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="section">
        <div class="container">
            <div class="row">
                    <div class="col-md-4 text-center">
                            <div class="author">
                                <div class="avatar avatar-danger">
                                    <img alt="..." src="./img/faces/face_1.jpg"/>
                                </div>
        
                                <div class="description text-center">
                                    <h3 class="big-text">悦咖啡</h3>
                                    <p class="small-text">取悦自己 享受当下</p>
                                </div>
                            </div>
                            <span class="label label-fill label-danger">Coffee</span>
                            <span class="label label-fill label-danger">Health</span>
                            <span class="label label-fill label-danger">Lifestyle</span>
                            <span class="label label-fill label-danger">Brunch</span>
                        </div>
                <div class="col-md-4 ">
                        <div class="media">
                                <h3>饮品</h3>
                                <div class="media-body">
                                    <p>爱尔兰榛果拿铁</p>
                                    <p>红丝绒拿铁</p>
                                    <p>提拉米苏拿铁</p>
                                    <p>野兽咖啡</p>
                                    <p>太妃玛奇朵</p>
                                    <p>澳洲平白</p>
                                    <p>经典拿铁</p>
                                    <p>蜜桃乌龙茶</p>
                                    <p>蜜桃乌龙茶</p>
                                    <p>蜜桃乌龙茶</p>
                                    <p>蒂凡尼蓝色巧克力</p>
                                    <p>手冲与虹吸咖啡</p>  
                                    <p>...</p>                                      
                                </div>
                            </div>         
                </div>
                <div class="col-md-4">
                        <div class="media">
                                <h3>餐品<small>（只在天安门店有售）</small></h3>
                                <div class="media-body">
                                    <p>小扁豆汤</p>
                                    <p>挪威三文鱼沙拉</p>
                                    <p>烤虾脆饼披萨</p>
                                    <p>星空吐司</p>
                                    <p>帕尔马花园</p>
                                    <p>维京肉丸意面</p>
                                    <p>墨鱼汁海鲜意面</p>
                                    <p>澳洲安格斯牛里脊宽面</p>
                                    <p>...</p>                                      
                                </div>
                         </div>         
                </div> 
            </div>
        </div>
    </div>
    <footer class="footer footer-big footer-color-black" data-color="black">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div class="info">
                            <h5 class="title">企业信息</h5>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/">首页</a>
                                    </li>
                                    <li>
                                        <a href="/aboutus">关于我们</a>
                                    </li>
                                    <li>
                                        <a>加盟电话：</a>
                                    </li>
                                    <li>
                                         <a>400-900-4699</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-3">
                        <div class="info">
                            <h5 class="title"> 服务与支持</h5>
                             <nav>
                                <ul>
                                    <li>
                                        <a href="/shop">查找门店</a>
                                    </li>
                                    <li>
                                        <a href="/contactus">伙伴招募</a>
                                    </li>
                                    <li>
                                        <a>淘宝店铺</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="info">
                            <h5 class="title">最新信息</h5>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <b>新店开业</b> 悦咖啡（天安门店）北京市东城区前门大街2号一层                                        
                                            <hr class="hr-small">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1 col-sm-3">
                        <div class="info">
                            <h5 class="title">微信公众号</h5>
                            <nav>
                                <ul>
                                    <li><img alt="..." class="footerphoto" src="./img/wechat.jpg"/></li>                    
                              </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                     © <script> document.write(new Date().getFullYear()) </script> Creative Enjoy your coffee
                </div>
            </div>
        </footer>
</body>

<!--   core js files    -->
<script src="./js/jquery.min.js" type="text/javascript"></script>
<script src="./js/bootstrap.js" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="./js/modernizr.js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="./js/gaia.js"></script>


</html>
