        <div class="section section-header section-header-small">
                <div class="parallax filter filter-color-black">
                    <div class="image"
                        style="background-image:url('./img/header-4.jpg')">
                    </div>
                    <div class="container">
                        <div class="content">
                            <h1>OUR STORES</h1>
                            <h3 class="subtitle">杭州 & 北京 & More</h3>
                        </div>
                    </div>
                </div>
            </div>
<!-- /.header -->

    <div class="section section-blog-horizontal">
        <div class="container">
            <div class="title">
                <h5 class="text-gray">悦咖啡</h5>
                <h2>直营门店</h2>
                <div class="separator separator-danger">✻</div>
            </div>

            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-sm-6">
                        <a  class="header">
                            <img src="./img/shop-1.jpeg">
                        </a>
                    </div>
                    <div class="col-sm-5 col-md-offset-1">
                        <div class="content">
                            <h5 class="card-category text-info">北京</h5>
                            <a class="card-title">
                                <h2>悦咖啡（天安门店）</h2>
                            </a>
                            <p class="text-gray">北京市东城区前门大街2号一层B1-116、117</p>
                            <p class="text-gray">电话：010-63329880</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="content">
                                <h5 class="card-category text-info">北京</h5>
                                <a class="card-title">
                                    <h2>悦咖啡（长楹天街店）</h2>
                                </a>
    
                                <p class="text-gray">北京市朝阳区长楹天街东区东一门进二层最左侧</p>
                                <p class="text-gray">电话：010-65434858 </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-1">
                            <a  class="header">
                                <img src="./img/shop-2.jpeg">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card card-plain card-blog">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="header">
                                <img src="./img/shop-5.jpg">
                            </a>
                        </div>
                        <div class="col-sm-5 col-md-offset-1">
                            <div class="content">
                                <h5 class="card-category text-info">北京</h5>
                                <a class="card-title">
                                    <h2>悦咖啡（中粮智慧农场店）</h2>
                                </a>
            
                                <p class="text-gray">北京市房山区中粮智慧农场4号馆</p>
                                <p class="text-gray">电话：010-80309692</p>
                            </div>
                        </div>
                    </div>
                </div>
        

            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="content">
                            <h5 class="card-category text-info">北京</h5>
                            <a  class="card-title">
                                <h2>悦咖啡（通州万达店）</h2>
                            </a>
                            <p class="text-gray">北京市通州万达广场5层5001</p>
                            <p class="text-gray">电话：010-50906295 </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-1">
                        <a class="header">
                            <img src="./img/shop-4.jpeg">
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="header">
                            <img src="./img/shop-3.jpeg">
                        </a>
                    </div>
                    <div class="col-sm-5 col-md-offset-1">
                        <div class="content">
                            <h5 class="card-category text-danger">杭州</h5>
                            <a class="card-title">
                                <h2>悦咖啡（金沙天街精品店）</h2>
                            </a>

                            <p class="text-gray">杭州市江干区下沙街道金沙大道560号龙湖金沙天街二层</p>
                            <p class="text-gray">电话：0571-87355332</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="content">
                            <h5 class="card-category text-danger">杭州</h5>
                            <a  class="card-title">
                                <h2>悦咖啡（自游港店）</h2>
                            </a>
                            <p class="text-gray">杭州市江干区下沙街道金沙大道338号自游港F103号</p>
                            <p class="text-gray">电话：0571-87256616 </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-1">
                        <a class="header">
                            <img src="./img/shop-7.jpg">
                        </a>
                    </div>
                </div>

            </div>
            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="header">
                            <img src="./img/shop-6.jpg">
                        </a>
                    </div>
                    <div class="col-sm-5 col-md-offset-1">
                        <div class="content">
                            <h5 class="card-category text-info">北京</h5>
                            <a class="card-title">
                                <h2>LUSH CAFE（悦咖啡轻食店）</h2>
                            </a>
        
                            <p class="text-gray">北京市东城区大江胡同125号（漫心酒店对面）</p>
                            <p class="text-gray">电话：010-67038110</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>  
    </div>

    <div class="section section-contact">
        <div class="container">
            <div class="text-area">
                <div class="title">
                    <h2>在筹门店</h2>
                    <div class="separator separator-danger">✻</div>
                    <h5 class="text-gray">悦咖啡（远洋乐堤港店）</h5>
                    <p class="text-gray">杭州市拱墅区丽水路58号乐堤港二楼A237店铺</p>
                </div>
        </div>
        </div>
    </div>

    <div class="section section-contact">
        <div class="container">
            <div class="text-area">
                <div class="title">
                    <h2>管理门店</h2>
                    <div class="separator separator-danger">✻</div>
                    <!-- <h5 class="text-gray">萌悦咖啡（萧山汇金店）</h5>
                    <p class="text-gray">杭州市萧山区金城路172号华瑞汇金中心A座一层</p>
                    <p class="text-gray">电话：0571-87569825</p> -->
                    <br>
                    <h5 class="text-gray">益咖啡（西安假日世界店）</h5>
                    <p class="text-gray">陕西省西安市新城区长乐西路166号西安益田假日世界L1-31、32号</p>
                    <p class="text-gray">电话：029-82699112</p>
                    <br>
                    <h5 class="text-gray">Cocoon Coffee（体育场路店）</h5>
                    <p class="text-gray">杭州市体育场路105号凯喜雅大厦1楼</p>
                    <p class="text-gray">电话：0571-85098100</p>
                </div>
        </div>
        </div>
    </div>

    
